html {
    width: 1000px;
    margin: 0;
}

ul {
list-style: none; 
}

header {
    background: black;
    height: 150px;
}
h1, .menu {
    color: white;
}

li, h1 {
    display: inline;
    padding: 20px;
   
}

input[type=text], textarea {
    border: 2px solid black;
    width: 60%;
    padding: 12px;
    margin: 16px;

}

input[type=send]:hover {
    background-color: yellow;
}

label {
  float: left;
  display: block; 
}