html {
    width: auto;
    margin: auto;
}

ul.menu {
list-style: none;
display: inline; 
}

header {
    background: rosybrown;
    height: 150px;
}
h1, .menu {
    color: white;
    font-size: 18px;
}



.sidenavigation { 
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  
}

.information {
    margin-left: 100px;
    padding: 0px;
    height: 100%;
}

.wrapper {
    display: flex;
}