html {
    width: auto;
    margin: auto;
}

ul {
list-style: none; 
}

header {
    background: rosybrown;
    height: 150px;
}
h1, .menu {
    color: white;
    font-size: 18px;
}

li, h1 {
    display: inline;
    padding: 20px;
   }

input[type=text], textarea {
    border: 2px solid black;
    width: 30%;
    padding: 12px;
    margin: 16px;
}


input[type=button] {
    background-color: goldenrod;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 5px 20px;
    width: 150px;
    margin: 10px 265px;
}

.sidenavigation {
   
}

.information {
    text-align: left;
    width: auto;

}

.delivery {
 list-style: square outside;   
}